@import url("style.css");

body{
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0.3em 1.2em;
}

.header_left_side, .header_right_side{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}