@import url("./constants.css");

/*---MAIN---*/

.presentation_container{
    width: 100%;
    min-height: 100vh;
    background-image: url("../assets/images/kaizen_template.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: var(--default-box-shadow);
}

.about_container{
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 500px;
    align-items: center;
    font-family: var(--font-main);
    font-size: 1.8rem;
    padding-right: 1em;
}

.hossomaki_img{
    animation: appear_left 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}

.classification_container{
    background: var(--background-sec);
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 500px;
    align-items: center;
    font-family: var(--font-main);
    color: white;
    font-size: 1.8rem;
    padding-left: 1em;
    box-shadow: var(--default-box-shadow);
}

.div_dish{
    text-align: center;
}

.dish_img{
    animation: appear_right 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
}

.menu_container{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}

.ballon{
    position: absolute;
}

.b_left{
    left: 0;
    top: -88px;
    transform: rotateY(180deg);
}

.b_right{
    right: 0;
    top: -88px;
}

.menu_container h1{
    font-family: var(--font-title);
    font-size: 3em;
    font-weight: 700;
    animation: pulse 2s linear infinite;
    text-shadow: var(--text-shadow);
}

.carousel_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    min-height: 400px;
    overflow: hidden;
    gap: 1em;
}

.group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 20s infinite linear;
    padding-right: 1em;
}

.carousel_item{
    background: var(--background-gradient);
    padding: 1em;
    flex: 0 0 5em;
    border-radius: 15%;
    text-align: center;
    align-content: center;
    position: relative;
    border: 1px solid black;
}