@import url('../main_hub.css');

main h1 {

    color: var(--font-main-color);
    
    font-size: 7rem;
}

.price {

    display: flex;
    gap: 5%;
}

.text_total{
    font-size: 5rem;
}

#total {

    color: var(--blue-color);

    font-size: 5rem;
}

.trips {

    flex:1;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));

    gap:30px;
    padding:40px;
}

.prch_bt{
    background-color: var(--blue-color);
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 16px;
    transition: 0.3s ease-in-out;
    padding: 0 1rem;
}

.prch_bt:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.05);

}
